.message-1 {
	background-color: rgb(57, 201, 57);
}

.message-2 {
	background-color: rgb(57, 201, 57);
}

.message-3 {
	background-color: yellow;
}

.message-4 {
	background-color: rgb(214, 62, 62);
}

.errors_count, .conclusion {
	font-size: 1.2em;
}

.comparison {
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
}

.message_header {
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
}

.message_box {
	padding: 10px;
	border-radius: 8px;
}

hr {
	border: none; /* Убираем границу */
	height: 1px; /* Устанавливаем высоту */
	background-color: black; /* Устанавливаем цвет */
}
   

